[Unit]
Description=Example .NET Web API App running on RHEL 8

[Service]
WorkingDirectory=/var/www/IBCS_API_Publish
ExecStart=dotnet /var/www/IBCS_API_Publish/IBCS_API.dll
Restart=always
# Restart service after 10 seconds if the dotnet service crashes:
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=dotnet-example
User=apache
Environment=ASPNETCORE_ENVIRONMENT=Production 

[Install]
WantedBy=multi-user.target
